MONGO_URI = "your-mongo-url"
PORT=5000
JWT_SECRET_KEY = "your secret key"

# Cloudinary Config
CLOUDINARY_CLOUD_NAME = "your_cloud_name"
CLOUDINARY_API_KEY = "api_key"
CLOUDINARY_API_SECRET = "api_secret"